/* General: */

@import url('parts/fonts.css');
@import url('parts/base.css');
@import url('parts/helpers.css');
/* Cmps: */

@import url('cmps/app-header.css');
@import url('cmps/app-footer.css');
@import url('cmps/app-home.css');
@import url('cmps/user-msg.css');
/* Email App: */

@import url('apps/email/pages/email-index.css');
@import url('apps/email/pages/email-details.css');
@import url('apps/email/cmps/email-filter.css');
@import url('apps/email/cmps/email-preview.css');
@import url('apps/email/cmps/email-folder-list.css');
@import url('apps/email/cmps/email-compose.css');
/* Keep App: */

@import url('apps/keep/pages/note-index.css');
@import url('apps/keep/cmps/note-add.css');
@import url('apps/keep/cmps/note-toolbar.css');
@import url('apps/keep/cmps/note-preview.css');
@import url('apps/keep/cmps/note-list.css');
@import url('apps/keep/cmps/label-modal.css');
/* Book App */

@import url('apps/book/pages/book-add.css');
@import url('apps/book/pages/book-app.css');
@import url('apps/book/pages/book-details.css');
@import url('apps/book/cmps/book-filter.css');
@import url('apps/book/cmps/book-preview.css');
@import url('apps/book/cmps/review-add.css');

.app-main {
    flex-grow: 1;
    display: flex;
}

.app {
    min-height: 100vh;
}

.left-panel, .logo {
    min-width: 80px;
}

.logo {
    padding-left: 10px;
    margin-top: 10px;
}

.left-panel {
    padding-left: 0;
}

.btn-apps, .note-app, .email-app, .app-header .apps-menu {
    margin-right: 10px;
    margin-left: 10px;
}

.note-app, .email-app {
    width: 100%;
    margin-top: 20px;
}

/* General email-app settings */

.email-app, .note-app {
    flex-direction: column;
}

.email-app {
    font-size: 0.9em;
}

/* Mobile */

@media (min-width: 740px) {
    .email-app {
        font-size: 1em;
    }
}

@media (min-width: 1000px) {
    .left-panel, .logo {
        min-width: 255px;
        padding-left: 20px;
    }
    .email-app, .note-app {
        flex-direction: row;
    }
    .btn-apps, .note-app, .email-app, .app-header .apps-menu {
        margin-right: 30px;
        margin-left: 0;
    }
}