@import url('parts/fonts.css');
@import url('parts/base.css');
@import url('parts/helpers.css');
/* Cmps: */

@import url('cmps/app-header.css');
@import url('cmps/app-footer.css');
@import url('cmps/app-home.css');
@import url('cmps/user-msg.css');
/* Email App: */

@import url('apps/email/pages/email-index.css');
@import url('apps/email/cmps/email-preview.css');
/* Keep App: */

/* General: */

.app-main {
    flex-grow: 1;
    padding: 20px;
}

.app {
    min-height: 100vh;
}