.email-filter {
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.email-filter select, .email-filter button {
    font-size: 1em;
    padding: 0.5em;
    background-color: rgba(242, 245, 245, 0.8);
    border: none;
    outline: none;
    margin-inline-end: 10px;
    border-radius: 0.25em;
}

.email-filter .filter-pages {
    margin-left: auto;
    gap: 20px;
}

.email-filter .btn {
    opacity: 70%;
    cursor: pointer;
    padding: 7px;
    border-radius: 1em;
}

.email-filter .btn.disabled {
    opacity: 25%;
    cursor: default;
}

.email-filter .btn:not(.disabled):hover {
    background-color: rgba(242, 245, 245, 0.8);
    opacity: 100%;
}

/* .email-filter>* {
    margin-bottom: 10px;
} */

.email-filter select:hover, .email-filter button:hover {
    cursor: pointer;
    background-color: rgba(235, 235, 235, 0.8);
}

.email-filter select>* {
    color: rgb(77, 77, 77);
}