.email-folder-list>* {
    padding: 10px;
    margin-inline-end: 10px;
    cursor: pointer;
    border-radius: 0 16px 16px 0;
    display: flex;
    justify-content: space-between;
}

.email-folder-list>*:hover {
    background-color: #F1F3F4;
}

.email-folder-list .marked {
    background-color: #fce8e6;
}