.email-preview {
    /* padding-top: 10px;
    padding-bottom: 10px; */
    background-color: rgba(242, 245, 245, 0.8);
    cursor: pointer;
    border-bottom: 1px solid #e2e8ea;
}

.email-preview:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.email-preview:first-child {
    border-top: 1px solid #e2e8ea;
}

.email-preview.unread {
    background-color: #FFF;
    font-weight: 700;
}

.email-preview-expanded {
    background-color: #fff;
}

.email-star {
    margin: 0 20px;
}

.email-mini {
    justify-content: space-between;
    padding-right: 10px;
}

.email-mini .email-actions img {
    padding: 0.8em;
    border-radius: 3em;
}

.email-mini .email-actions img:hover {
    background-color: #d8d8d8;
}

.email-preview:hover .email-actions {
    visibility: visible;
}

.email-preview .email-actions {
    visibility: hidden;
}