.email-preview {
    /* padding-top: 10px;
    padding-bottom: 10px; */
    background-color: rgba(242, 245, 245, 0.8);
    cursor: pointer;
    border-bottom: 1px solid #e2e8ea;
    max-width: 100%;
    min-height: 80px;
}

.email-preview:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.email-preview:first-child {
    border-top: 1px solid #e2e8ea;
}

.email-preview.unread {
    background-color: #FFF;
    font-weight: 700;
}

.email-preview-expanded {
    background-color: #fff;
    padding: 20px;
    gap: 20px;
    line-height: 1.75em;
}

.email-preview-expanded .email-header {
    color: rgb(100, 100, 100);
}

/*  */

.email-star {
    margin: 0 20px;
}

.email-subject {
    word-break: break-all;
}

/*  */

.email-mini {
    justify-content: space-between;
    padding-right: 10px;
}

.email-mini .email-actions img {
    padding: 0.7em;
    border-radius: 3em;
    opacity: 60%;
}

.email-mini .email-actions img:hover {
    background-color: #d8d8d8;
    opacity: 100%;
}

.email-preview .email-actions {
    display: none;
}

.email-preview .email-date {
    text-align: right;
    padding: 0.8em;
    display: inline-block;
}

@media (min-width: 740px) {
    .email-preview {
        min-height: unset;
    }
    .email-preview:hover .email-date {
        display: none;
    }
    .email-preview-expanded {
        padding: 20px 100px;
    }
    .email-preview:hover .email-actions {
        display: flex;
    }
}