.email-folder-list>* {
    padding: 10px;
    margin-inline-end: 10px;
    cursor: pointer;
    border-radius: 0 16px 16px 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #202124;
}

.email-folder-list a span {
    color: #d61200;
    font-weight: bold;
    font-size: 0.9em;
}

.email-folder-list>*:hover {
    background-color: #F1F3F4;
}

.email-folder-list .active {
    background-color: #fce8e6;
}