html {
    scroll-behavior: smooth;
}

.app-home {
    width: 100%;
}

.hero {
    background-image: url('../../assets/img/hero4.jpg');
    background-size: cover;
    background-position: center;
    animation-name: change-bg;
    animation-iteration-count: infinite;
    animation-duration: 21s;
    height: 100vh;
}

.hero-txt {
    position: absolute;
    top: 30%;
    transform: translate(0, -30%);
    padding: 20px;
    color: #282828;
    border-radius: 10px;
    font-size: 2rem;
    text-align: left;
    width: 415px;
}

.hero h1 {
    margin-bottom: 15px;
    margin-left: 15px;
    animation: fadein 3s;
}

.hero a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 5px 30px;
    border-radius: 20px;
    transition: background-color .5s, padding .4s;
    font-weight: bold;
    background-color: #E81A30;
    color: #fff;
    margin-left: 15px;
    position: relative;
}

.hero a:hover {
    background-color: #BB001B;
    padding-right: 50px;
}

.hero a:hover::after {
    content: '\2192';
    position: absolute;
    right: 10px;
    top: 2px;
}

.app-home .container {
    height: 100vh;
}

.cards-container {
    width: 100%;
    height: 800px;
    background-color: pink;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 300px;
    height: 300px;
    background-color: #fff;
    margin-top: 100px;
}

@keyframes change-bg {
    0% {
        background-image: url('../../assets/img/hero5.jpg');
    }
    33% {
        background-image: url('../../assets/img/hero7.jpg');
    }
    66% {
        background-image: url('../../assets/img/hero3.jpg');
    }
    100% {
        background-image: url('../../assets/img/hero5.jpg');
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}