.note-preview {
    width: 240px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    min-height: 100px;
    padding: 10px;
    max-height: fit-content;
    position: relative;
    background-color: #fff;
}

.note-preview:hover .note-toolbar, .note-preview:hover .note-pin {
    opacity: 1 !important;
}

.note-preview .note-toolbar {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.note-preview h1, .note-preview p {
    width: 195px;
    padding: 8px 10px;
    word-wrap: break-word;
}

.note-preview p {
    font-size: 14px;
    color: #202124;
    margin-bottom: 40px;
}

.note-preview .note-img, .note-preview .note-video {
    max-width: 210px;
    max-height: 600px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    border: none;
}

.note-preview ul {
    width: 195px;
    margin-bottom: 40px;
    padding: 8px 10px;
}

.note-preview li {
    word-wrap: break-word;
    cursor: default;
}

.note-preview li input {
    margin-right: 10px;
}

.note-preview li span.checked {
    text-decoration: line-through;
}