.note-preview {
    width: 240px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    min-height: 100px;
    padding: 10px;
    max-height: fit-content;
    position: relative;
    background-color: #fff;
}

.note-preview .note-toolbar, .note-preview .note-pin {
    opacity: 1 !important;
}

.note-preview .note-toolbar {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.note-preview h1, .note-preview p {
    width: 195px;
    padding: 8px 10px;
    word-wrap: break-word;
}

.note-preview p {
    font-size: 14px;
    color: #202124;
}

.note-preview .note-img, .note-preview .note-video {
    max-width: 210px;
    max-height: 600px;
    display: block;
    margin: 0 auto;
    border: none;
    margin-top: 10px;
}

.note-preview ul {
    width: 195px;
    padding: 8px 10px;
}

.note-preview li {
    word-wrap: break-word;
}

.note-preview li input {
    margin-right: 10px;
}

.note-preview li span.checked {
    text-decoration: line-through;
}

.labels-container {
    margin-bottom: 40px;
    margin-top: 10px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.labels-container .label {
    font-size: 11px;
    background-color: #ebebeb;
    padding: 6px 10px;
    min-width: 35px;
    border-radius: 12px;
    color: #3c4043;
    position: relative;
    cursor: default;
}

.label div {
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
}

.label img {
    width: 20px;
    padding: 2px;
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);
    position: absolute;
    background-color: inherit;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.label img:hover {
    background-color: rgba(95, 99, 104, 0.157);
}

.label:hover img {
    display: unset;
}

.label:hover div {
    width: calc(100% - 8px);
}

.note-preview h1:focus, .note-preview p:focus {
    background-color: rgba(255, 255, 255, 0.342);
    width: 180px;
    border-radius: 5px;
    outline: none;
}

.note-preview span:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.342);
}

@media (min-width: 740px) {
    .note-preview .note-toolbar, .note-preview .note-pin {
        opacity: 0 !important;
    }
    .note-preview:hover .note-toolbar, .note-preview:hover .note-pin {
        opacity: 1 !important;
    }
}