.note-list {
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.pin-title, .others-title {
    color: #5f6368;
    font-size: 14px;
    margin-bottom: 10px;
}

.others-title {
    margin-top: 80px;
}

@media (max-width:576px) {
    .note-list > * {
        margin: 0 auto;
    }
}