@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

/* FONT AWSOME */

@font-face {
    font-family: Solid;
    src: url('../../assets/fonts/fa-solid-900.ttf');
}

.fas::before {
    font-family: Solid;
}

.fas.fa-star::before {
    content: "\f005";
}

@font-face {
    font-family: Brands;
    src: url('../../assets/fonts/fa-brands-400.ttf');
}

.fab::before {
    font-family: Brands;
}

/* ICONS */

.fab.fa-facebook-f::before {
    content: "\f39e";
}

.fab.fa-instagram::before {
    content: "\f16d";
}

.fab.fa-linkedin::before {
    content: "\f0e1";
}