.email-details {
    padding: 20px 0 0 10px;
    gap: 20px;
    line-height: 1.75em;
    flex-grow: 1;
}

.email-details-toolbar {
    gap: 40px;
    border-bottom: 1px solid #ECEFF1;
}

.email-details-toolbar img {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 50%;
}

.email-details-toolbar img:hover {
    background-color: rgb(231, 231, 231);
    opacity: 100%;
}

.email-details-header {
    color: rgb(100, 100, 100);
}

.email-details-subject {
    max-width: 750px;
    overflow-wrap: break-word;
}